################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ex02 - ClientSide/Ex02 - ClientSide.VC.VC.opendb
